<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/estilos.css">
</head>
<body>
    <div id="app">
        <h1>{{message }}</h1>
        <input v-model="message"><br><br>

        <img :src="imagen" alt="nombre">
        <div v-show="login">
          <p>
            TOP SECRET
          </p>
        </div>
        <h1 v-if="login">Solo mostrado a los administradores del sitio</h1>
        <h2 v-else>Mostrado a los usuarios no logueados</h2>
        <h3>Frutas</h3>
        <ul>
          <li v-for="fruta in frutas">{{fruta}}</li>
        </ul>
       
        <div>
            <img v-for="foto in fotos" :src="foto" alt="">
        </div>
       
        <div v-if="login" class="container">
            <div class="tarjeta"  v-for="dato in data">
                <img :src="dato.image" :alt="dato.name">
                <div class="cuerpo">
                    <h4>Nombre: {{dato.name}}</h4>
                    <p>Genero:{{dato.gender}}</p>
                    <p>Especie:{{dato.species}} </p>
                </div>
            </div>
        </div> 
            
        
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>